<form action="/parcels" method="post">
  <label for="length">Enter length</label>
  <input id="length" name="length" type="number">
  <label for="width">Enter Width</label>
  <input id="width" name="width" type="number">
  <label for="height">Enter Height</label>
  <input id="height" name="height" type="number">
  <label for="weight">Enter Weigth</label>
  <input id="weight" name="weigth" type="number" >
  <button type="submit">Submit</button>
</form>